/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  position: relative;
  height: 100%;
  width: 40%;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container .logo {
  z-index: 999;
  height: 50vh;
  width: 25vw;
  margin-top: 15vh;
  left: 49%; /* Position at the center horizontally */
  transform: translateX(-50%);
}

.image-container h2 {
  position: absolute;
  bottom: 30vh; /* Adjust the distance from the bottom */
  left: 50%; /* Position at the center horizontally */
  transform: translateX(-50%); /* Center the element horizontally */
  color: #fff; /* Text color */
  font-family: "Poppins";
}

h2 span {
  color: #4adc30; /* Color for the span text */
}

.login--container {
  background-color: #fff;
  padding: 4vw;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: fit-content;
  justify-content: center;
}
.right {
  height: 100%;
  width: 60%;
  padding-right: 5vw;
  padding-left: 5vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  justify-content: center;
}
.login--container label {
  font-size: 18px;
}

.login--container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login--container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.login--container button:hover {
  background-color: #0056b3;
}

.login--container p {
  margin-top: 15px;
}

.login--container a {
  color: #007bff;
  text-decoration: none;
}

.login--container a:hover {
  text-decoration: underline;
}
/* LoginForm.css */
.toggle-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.toggle-button.inactive {
  opacity: 0.5;
}
/* LoginForm.css */
.webcam {
  display: flex;
  

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam button {
    background-color: #E82470;
    color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.webcam button:hover {
  background-color: #45a049;
}

.captured-image {
    display: flex;
  

    flex-direction: column;
    align-items: center;
    justify-content: center;/* Center vertically */
  height: 100%;
}

.captured-image img {
  max-width: 100%;
  max-height: 100%; /* Ensure the image doesn't exceed the container */
  border-radius: 5px;
}

.captured-image button {
  position: relative;
    display:inline;
  background-color: #E82470;
  color: white;
  border: none;
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.captured-image button:hover {
  background-color: #e53935;
}
